.notfound {
    min-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.notfound__container{
    width: 30%;
    margin: 10rem auto 5rem auto;
}
.notfound__link{
    text-decoration: none;
    color: black;
}
.notfound__link__text{
    padding: 0.7rem 0 0.7rem 0;
    margin: auto;
    border: 2px solid black;
    border-radius: 12px;
}
@media (max-width: 750px) {
    .notfound__container{
        width: 80%;
        margin: 10rem auto 5rem auto;
    }
}